@model List<Product>
    
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-lg-4 col-md-6">
            <div class="card product-card h-100 shadow-sm">
                <img src="~/images/@product.Image"
                     class="img-thumbnail"
                     style="width:100%; height:400px; object-fit:cover;" />

                <div class="card-body text-center">
                    <h4>@product.Name</h4>
                    <h5>@product.Price ريال</h5>
                </div>
            </div>
        </div>
    }
</div>